<html lang="eng">
<body>
Dear {{ full_name }},<br>
<br>
Thank you for choosing {{ clinic_location }} for your recent appointment
on {{ booked_date }}. We appreciate for choosing us and hope we have provided
the best possible care for your healthcare needs.<br>
<br>
Appointment Summary:<br>
<br>
Date: {{ booked_date }}<br>
Time: {{ booked_time }}<br>
Physician: {{ doctor_name }}<br>
<br>
During the appointment, we discussed [Include Clinical Notes]. We hope that you
found our discussion helpful and informative.<br>
<br>
Post-Appointment Instructions:<br>
<br>
Include Clinical Notes<br>
[List any prescribed medications, treatments, or recommendations discussed
during the appointment.]<br>
[Include any specific instructions for recovery or ongoing care.]<br>
<br>
<br>
If you have any questions or concerns regarding the appointment, prescribed
medications, or any follow-up care, please don't hesitate to reach out to
us.<br>
<br>
Thank you once again for entrusting us with your healthcare. We look forward to
assisting you in the future.<br>
<br>
Best regards,<br>
<br>
<br>
{{ manager_name }}<br>
{{ manager_designation }}<br>
{{ manager_contact_info }}<br>
</body>
</html>