<html lang="eng">
<body>
Dear {{ full_name }},<br>
<br>
We hope this email finds you in good health and high spirits. This is a gentle reminder of your scheduled appointment with Atlas Chiropractic & Wellness
- {{ clinic_location }} tomorrow.<br>
<br>
Appointment Details:<br>
<br>
Date: {{ booked_date }}<br>
Time: {{ booked_time }}<br>
Location: <a href="{{ clinic_url }}"> {{ clinic_address }}</a><br><br>
<br>
We look forward to seeing you and providing you with the care you need. Please remember to arrive a little earlier than your scheduled appointment time to complete any necessary paperwork and ensure a smooth check-in process.<br>
<br>
If, for any reason, you need to reschedule or have questions regarding your appointment, please don't hesitate to reach out to us.<br>
<br>
Thank you for choosing Atlas Chiropractic & Wellness - {{ clinic_location }}
- {{ clinic_phone_no }} for your healthcare needs. We value your trust and
are here to assist you in any way we can.<br>
<br>
Warm regards,<br>
{{ manager_name }}<br>
{{ manager_designation }}<br>
{{ manager_contact_info }}<br>
</body>
</html>
