<html lang="eng">
<body>
Dear {{ full_name }},<br>
<br>
At Atlas Chiropractic & Wellness - {{ clinic_location }}, we continuously
strive to provide exceptional healthcare services and ensure a positive
experience for our patients. Your feedback is invaluable in helping us
achieve this goal.<br>
<br>
We kindly request a few moments of your time to share your thoughts and insights about your recent appointment at our clinic. Your feedback will aid us in identifying areas of improvement and enhancing our services.<br>
<br>
Please click on the link below to complete a short survey:<br>
<a href="{review_link}">Google Review</a><br>
<br>
Your feedback will remain anonymous, and your honest opinions will be greatly appreciated.<br>
<br>
Thank you for taking the time to help us improve our services and enhance the overall patient experience.<br>
<br>
Best regards,
<br>
{{ manager_name }}<br>
{{ manager_designation }}<br>
{{ manager_contact_info }}<br>
</body>
</html>
