<html lang="eng">
<body>
Dear {{ full_name }},<br>
<br>
We are delighted to confirm your appointment with Atlas Chiropractic & Wellness
- {{ clinic_location }}! Your payment has been successfully received, and we are
eager to provide you with an exceptional experience.<br>
<br>
Appointment Details:<br>
<br>
Date: {{ booked_date }}<br>
Time: {{ booked_time }}<br>
Location: <a href="{{ clinic_url }}"> {{ clinic_address }}</a><br><br>

<a> Add a Reminder To Your Calendar</a><br>
<br>
Should you have any specific questions or require further information before
your appointment, please do not hesitate to contact us. We are here to assist
you and ensure a seamless and comfortable experience during your visit.<br>
<br>
Thank you for choosing Atlas Chiropractic & Wellness - {{ clinic_location }} for
your healthcare needs. We value your trust and are committed to delivering the
best possible care.<br>
<br>
Warm regards,<br>
{{ manager_name }}<br>
{{ manager_designation }}<br>
{{ manager_contact_info }}<br>
</body>
</html>
